

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-561544707163817050.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-561544707163817050.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-561544707163817050.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-561544707163817050.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-561544707163817050.gps.gpsil [style*="--hvr-bgc:"]:hover{background-color:var(--hvr-bgc)}.gps-561544707163817050.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-561544707163817050.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-561544707163817050.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-561544707163817050.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-561544707163817050.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-561544707163817050.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-561544707163817050.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-561544707163817050.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-561544707163817050.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-561544707163817050.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-561544707163817050.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-561544707163817050.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-561544707163817050.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-561544707163817050.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-561544707163817050.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-561544707163817050.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-561544707163817050.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-561544707163817050.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-561544707163817050.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-561544707163817050.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-561544707163817050.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-561544707163817050.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-561544707163817050.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-561544707163817050.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-561544707163817050.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-561544707163817050.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-561544707163817050.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-561544707163817050.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-561544707163817050.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-561544707163817050.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-561544707163817050.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-561544707163817050.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-561544707163817050.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-561544707163817050.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-561544707163817050.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-561544707163817050.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-561544707163817050.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-561544707163817050.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-561544707163817050.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-561544707163817050.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-561544707163817050.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-561544707163817050.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-561544707163817050.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-561544707163817050.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-561544707163817050.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-561544707163817050.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-561544707163817050.gps.gpsil [style*="--hvr-op:"]:hover{opacity:var(--hvr-op)}.gps-561544707163817050.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-561544707163817050.gps.gpsil [style*="--hvr-o:"]:hover{order:var(--hvr-o)}.gps-561544707163817050.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-561544707163817050.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-561544707163817050.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-561544707163817050.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-561544707163817050.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-561544707163817050.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-561544707163817050.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-561544707163817050.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-561544707163817050.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-561544707163817050.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-561544707163817050.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-561544707163817050.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-561544707163817050.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-561544707163817050.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1024px){.gps-561544707163817050.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-561544707163817050.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-561544707163817050.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-561544707163817050.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-561544707163817050.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-561544707163817050.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-561544707163817050.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-561544707163817050.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-561544707163817050.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-561544707163817050.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-561544707163817050.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-561544707163817050.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-561544707163817050.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-561544707163817050.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-561544707163817050.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-561544707163817050.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-561544707163817050.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-561544707163817050.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-561544707163817050.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-561544707163817050.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-561544707163817050.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-561544707163817050.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-561544707163817050.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-561544707163817050.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-561544707163817050.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-561544707163817050.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-561544707163817050.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-561544707163817050.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-561544707163817050 .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-561544707163817050 .gp-g-subheading-1{font-family:var(--g-sh1-ff);font-size:var(--g-sh1-size);font-style:var(--g-sh1-fs);font-weight:var(--g-sh1-weight);letter-spacing:var(--g-sh1-ls);line-height:var(--g-sh1-lh)}.gps-561544707163817050 .gp-invisible{visibility:hidden}.gps-561544707163817050 .gp-absolute{position:absolute}.gps-561544707163817050 .gp-relative{position:relative}.gps-561544707163817050 .gp-inset-0{inset:0}.gps-561544707163817050 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-561544707163817050 .gp-top-0{top:0}.gps-561544707163817050 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-561544707163817050 .gp-z-1{z-index:1}.gps-561544707163817050 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-561544707163817050 .gp-mb-0{margin-bottom:0}.gps-561544707163817050 .gp-flex{display:flex}.gps-561544707163817050 .gp-grid{display:grid}.gps-561544707163817050 .\!gp-hidden{display:none!important}.gps-561544707163817050 .gp-hidden{display:none}.gps-561544707163817050 .gp-h-full{height:100%}.gps-561544707163817050 .gp-w-full{width:100%}.gps-561544707163817050 .gp-max-w-full{max-width:100%}.gps-561544707163817050 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-561544707163817050 .gp-flex-col{flex-direction:column}.gps-561544707163817050 .gp-items-center{align-items:center}.gps-561544707163817050 .gp-justify-center{justify-content:center}.gps-561544707163817050 .gp-self-center{align-self:center}.gps-561544707163817050 .gp-overflow-hidden{overflow:hidden}.gps-561544707163817050 .gp-text-g-bg-3{color:var(--g-c-bg-3)}.gps-561544707163817050 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-561544707163817050 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-561544707163817050 .gp-transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-561544707163817050 .gp-duration-200{transition-duration:.2s}.gps-561544707163817050 .gp-duration-300{transition-duration:.3s}.gps-561544707163817050 .gp-duration-\[var\(--duration\)\]{transition-duration:var(--duration)}.gps-561544707163817050 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-561544707163817050 .gp-group\/hero:hover .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-scale-x:var(--scale);--tw-scale-y:var(--scale);transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-561544707163817050 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-561544707163817050 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}@media (max-width:1024px){.gps-561544707163817050 .tablet\:\!gp-relative{position:relative!important}.gps-561544707163817050 .tablet\:\!gp-hidden{display:none!important}.gps-561544707163817050 .tablet\:gp-hidden{display:none}.gps-561544707163817050 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-561544707163817050 .tablet\:gp-justify-center{justify-content:center}}@media (max-width:767px){.gps-561544707163817050 .mobile\:\!gp-relative{position:relative!important}.gps-561544707163817050 .mobile\:\!gp-hidden{display:none!important}.gps-561544707163817050 .mobile\:gp-hidden{display:none}.gps-561544707163817050 .mobile\:\!gp-h-auto{height:auto!important}.gps-561544707163817050 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-561544707163817050 .mobile\:gp-justify-center{justify-content:center}}@media (max-width:1024px){.gps-561544707163817050 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-561544707163817050 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-561544707163817050 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>


    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gpslqpQ9Xl"}' data-id="gpslqpQ9Xl" id="gpslqpQ9Xl" data-same-height-subgrid-container class="gpslqpQ9Xl gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--pt:var(undefined);--pb:var(undefined);--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gsJc0WhYiF gp-relative gp-flex gp-flex-col"
    >
      
      <gp-hero-banner
        
        data-id="gN3XLmPaud"
        class="gN3XLmPaud gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--pt:0px;--pb:0px;--pt-mobile:0px;--pb-mobile:0px;--pt-tablet:0px;--pb-tablet:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:autopx;--h-tablet:autopx;--h-mobile:autopx"
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":1082,"src":"https://symplofficial.com/cdn/shop/files/Where_Next_Hero.jpg?v=1652290670","width":2330},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":1082,"src":"https://symplofficial.com/cdn/shop/files/Where_Next_Hero.jpg?v=1652290670","width":2330},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":1082,"src":"https://symplofficial.com/cdn/shop/files/Where_Next_Hero.jpg?v=1652290670","width":2330},"loop":"","position":{"x":0,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"}},"uid":"gN3XLmPaud","enableParallax":false,"speedParallax":0,"hoverEffect":true,"hoverEffectScale":"100%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"target":"_blank","href":"","linkType":""}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-center tablet:gp-justify-center mobile:gp-justify-center" style="--h:autopx;--h-tablet:autopx;--h-mobile:autopx;--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2)">
      <div
        aria-label="Background Image"
        role="banner"
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0 0 0)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform" style="--bgi:url(https://symplofficial.com/cdn/shop/files/Where_Next_Hero.jpg?v=1652290670);--bgi-tablet:url(https://symplofficial.com/cdn/shop/files/Where_Next_Hero.jpg?v=1652290670);--bgi-mobile:url(https://symplofficial.com/cdn/shop/files/Where_Next_Hero.jpg?v=1652290670);--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 50%;--bgp-mobile:0% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--duration:0s;--scale:100%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transition:transform 300ms cubic-bezier(0,0,0,1)">
          
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="https://symplofficial.com/cdn/shop/files/Where_Next_Hero.jpg?v=1652290670" isNotLazyload="true" srcset base-src="https://symplofficial.com/cdn/shop/files/Where_Next_Hero.jpg?v=1652290670" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="https://symplofficial.com/cdn/shop/files/Where_Next_Hero.jpg?v=1652290670" isNotLazyload="true" srcset base-src="https://symplofficial.com/cdn/shop/files/Where_Next_Hero.jpg?v=1652290670" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="https://symplofficial.com/cdn/shop/files/Where_Next_Hero.jpg?v=1652290670" isNotLazyload="true" srcset base-src="https://symplofficial.com/cdn/shop/files/Where_Next_Hero.jpg?v=1652290670" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_mb"
    />
          
        </div>
        <div aria-label="Overlay" role="banner" class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-z-1 gp-transition-all gp-duration-300  group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]" style="--hvr-bgc:#121212;--bgc:#121212;--op:41%;--hvr-op:41%;--top:0;--left:0"> </div>
      </div>
      
    

    

    
    <gp-row gp-data='{}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row tablet:!gp-relative mobile:!gp-relative  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--cg:auto;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--pc:center;--pc-tablet:center;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gJrBqF_dUI gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gkWLGaG4RM"}' data-id="gkWLGaG4RM" id="gkWLGaG4RM" data-same-height-subgrid-container class="gkWLGaG4RM gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mt:188px;--mb:188px;--pt:0px;--pb:0px;--mt-mobile:150px;--mb-mobile:150px;--pl-mobile:15px;--pr-mobile:15px;--cg:auto;--gtc:minmax(0, 12fr);--w:744px;--w-tablet:744px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gA3Z9-ntR5 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8BMCBg9f9"
        class="g8BMCBg9f9"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:20px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753816318449"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class="gp-g-subheading-1 gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--c:#FFFFFF;--size:25px;--size-tablet:25px;--size-mobile:38px;--tt:uppercase;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg8BMCBg9f9_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gbHp8825bk"
        class="gbHp8825bk"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753816318450"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--c:#FFFFFF;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--ls:Auto;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:190%;--lh-tablet:180%;--lh-mobile:190%;--tt:none;word-break:break-word;--pl-mobile:4px;--pr-mobile:4px;--pt-mobile:4px;--pb-mobile:4px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggbHp8825bk_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full">
      
      <source media="(max-width: 767px)" data-srcSet="https://symplofficial.com/cdn/shop/files/Where_Next_Hero.jpg?v=1652290670" srcset="https://symplofficial.com/cdn/shop/files/Where_Next_Hero.jpg?v=1652290670" />
      <source media="(max-width: 1024px)" data-srcSet="https://symplofficial.com/cdn/shop/files/Where_Next_Hero.jpg?v=1652290670" srcset="https://symplofficial.com/cdn/shop/files/Where_Next_Hero.jpg?v=1652290670" />
    
      
      <img
        title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="https://symplofficial.com/cdn/shop/files/Where_Next_Hero.jpg?v=1652290670" data-src="https://symplofficial.com/cdn/shop/files/Where_Next_Hero.jpg?v=1652290670"
        alt=""
        width="100%"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:autopx;--h-tablet:autopx;--h-mobile:autopx;--w:100%;--w-tablet:100%;--w-mobile:100%;--z:-1"
        class="adaptive-hero-banner"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
        </section>
      
  


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-561544707163817050 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/erica-336/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=561544412388131925&sectionId=561544707163817050)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg8BMCBg9f9_text","label":"gg8BMCBg9f9_text","default":"<span style=\"font-size:46px;\"><strong>Where Next</strong></span><span style=\"font-size:44px;\"><strong>™</strong></span>"},{"type":"html","id":"ggbHp8825bk_text","label":"ggbHp8825bk_text","default":"<span style=\"color:rgb(255,255,255);font-size:26px;\">Our reminder to constantly say yes, push further, and experience more. Equally inspiring for spontaneous adventures, in our backyard, or across the globe.</span>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
