

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-561542774948627541.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-561542774948627541.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-561542774948627541.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-561542774948627541.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-561542774948627541.gps.gpsil [style*="--hvr-bgc:"]:hover{background-color:var(--hvr-bgc)}.gps-561542774948627541.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-561542774948627541.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-561542774948627541.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-561542774948627541.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-561542774948627541.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-561542774948627541.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-561542774948627541.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-561542774948627541.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-561542774948627541.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-561542774948627541.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-561542774948627541.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-561542774948627541.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-561542774948627541.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-561542774948627541.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-561542774948627541.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-561542774948627541.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-561542774948627541.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-561542774948627541.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-561542774948627541.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-561542774948627541.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-561542774948627541.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-561542774948627541.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-561542774948627541.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-561542774948627541.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-561542774948627541.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-561542774948627541.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-561542774948627541.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-561542774948627541.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-561542774948627541.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-561542774948627541.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-561542774948627541.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-561542774948627541.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-561542774948627541.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-561542774948627541.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-561542774948627541.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-561542774948627541.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-561542774948627541.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-561542774948627541.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-561542774948627541.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-561542774948627541.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-561542774948627541.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-561542774948627541.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-561542774948627541.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-561542774948627541.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-561542774948627541.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-561542774948627541.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-561542774948627541.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-561542774948627541.gps.gpsil [style*="--hvr-op:"]:hover{opacity:var(--hvr-op)}.gps-561542774948627541.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-561542774948627541.gps.gpsil [style*="--hvr-o:"]:hover{order:var(--hvr-o)}.gps-561542774948627541.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-561542774948627541.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-561542774948627541.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-561542774948627541.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-561542774948627541.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-561542774948627541.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-561542774948627541.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-561542774948627541.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-561542774948627541.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-561542774948627541.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-561542774948627541.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-561542774948627541.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-561542774948627541.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-561542774948627541.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-561542774948627541.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-561542774948627541.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-561542774948627541.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-561542774948627541.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-561542774948627541.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-561542774948627541.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-561542774948627541.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-561542774948627541.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-561542774948627541.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-561542774948627541.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-561542774948627541.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-561542774948627541.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-561542774948627541.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-561542774948627541.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-561542774948627541.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-561542774948627541.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-561542774948627541.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-561542774948627541.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-561542774948627541.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-561542774948627541.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-561542774948627541.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-561542774948627541.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-561542774948627541 .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-561542774948627541 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-561542774948627541 .gp-invisible{visibility:hidden}.gps-561542774948627541 .gp-absolute{position:absolute}.gps-561542774948627541 .gp-relative{position:relative}.gps-561542774948627541 .gp-inset-0{inset:0}.gps-561542774948627541 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-561542774948627541 .gp-top-0{top:0}.gps-561542774948627541 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-561542774948627541 .gp-z-1{z-index:1}.gps-561542774948627541 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-561542774948627541 .gp-mb-0{margin-bottom:0}.gps-561542774948627541 .gp-flex{display:flex}.gps-561542774948627541 .gp-grid{display:grid}.gps-561542774948627541 .\!gp-hidden{display:none!important}.gps-561542774948627541 .gp-hidden{display:none}.gps-561542774948627541 .gp-h-full{height:100%}.gps-561542774948627541 .gp-w-full{width:100%}.gps-561542774948627541 .gp-max-w-full{max-width:100%}.gps-561542774948627541 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-561542774948627541 .gp-flex-col{flex-direction:column}.gps-561542774948627541 .gp-items-center{align-items:center}.gps-561542774948627541 .gp-justify-center{justify-content:center}.gps-561542774948627541 .gp-self-center{align-self:center}.gps-561542774948627541 .gp-overflow-hidden{overflow:hidden}.gps-561542774948627541 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-561542774948627541 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-561542774948627541 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-561542774948627541 .gp-transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-561542774948627541 .gp-duration-200{transition-duration:.2s}.gps-561542774948627541 .gp-duration-300{transition-duration:.3s}.gps-561542774948627541 .gp-duration-\[var\(--duration\)\]{transition-duration:var(--duration)}.gps-561542774948627541 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-561542774948627541 .gp-group\/hero:hover .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-scale-x:var(--scale);--tw-scale-y:var(--scale);transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-561542774948627541 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-561542774948627541 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}@media (max-width:1024px){.gps-561542774948627541 .tablet\:\!gp-relative{position:relative!important}.gps-561542774948627541 .tablet\:\!gp-hidden{display:none!important}.gps-561542774948627541 .tablet\:gp-hidden{display:none}.gps-561542774948627541 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-561542774948627541 .tablet\:gp-justify-center{justify-content:center}}@media (max-width:767px){.gps-561542774948627541 .mobile\:\!gp-relative{position:relative!important}.gps-561542774948627541 .mobile\:\!gp-hidden{display:none!important}.gps-561542774948627541 .mobile\:gp-hidden{display:none}.gps-561542774948627541 .mobile\:\!gp-h-auto{height:auto!important}.gps-561542774948627541 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-561542774948627541 .mobile\:gp-justify-center{justify-content:center}}@media (max-width:1024px){.gps-561542774948627541 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-561542774948627541 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-561542774948627541 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>


    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"geY4kuoA-u"}' data-id="geY4kuoA-u" id="geY4kuoA-u" data-same-height-subgrid-container class="geY4kuoA-u gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--pt:var(undefined);--pb:var(undefined);--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gn7-gFrVk2 gp-relative gp-flex gp-flex-col"
    >
      
      <gp-hero-banner
        
        data-id="gbnbkhVXXX"
        class="gbnbkhVXXX gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:80px;--pt:0px;--pb:0px;--pt-mobile:0px;--pb-mobile:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":1082,"src":"https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Homepage-Sling_Pack.jpg?v=1652895982","width":2330},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":1082,"src":"https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Homepage-Sling_Pack.jpg?v=1652895982","width":2330},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":1082,"src":"https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Homepage-Sling_Pack.jpg?v=1652895982","width":2330},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"}},"uid":"gbnbkhVXXX","enableParallax":false,"speedParallax":0,"hoverEffect":true,"hoverEffectScale":"100%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"target":"_blank","href":"","linkType":""}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-center tablet:gp-justify-center mobile:gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--bgc:var(--g-c-bg-2)">
      <div
        aria-label="Background Image"
        role="banner"
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0 0 0)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform" style="--bgi:url(https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Homepage-Sling_Pack.jpg?v=1652895982);--bgi-tablet:url(https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Homepage-Sling_Pack_1024x.jpg?v=1652895982);--bgi-mobile:url(https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Homepage-Sling_Pack_768x.jpg?v=1652895982);--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0s;--scale:100%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transition:transform 300ms cubic-bezier(0,0,0,1)">
          
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Homepage-Sling_Pack.jpg?v=1652895982" isNotLazyload="true" srcset base-src="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Homepage-Sling_Pack.jpg?v=1652895982" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Homepage-Sling_Pack_1024x.jpg?v=1652895982" isNotLazyload="true" srcset base-src="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Homepage-Sling_Pack_1024x.jpg?v=1652895982" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Homepage-Sling_Pack_768x.jpg?v=1652895982" isNotLazyload="true" srcset base-src="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Homepage-Sling_Pack_768x.jpg?v=1652895982" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_mb"
    />
          
        </div>
        <div aria-label="Overlay" role="banner" class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-z-1 gp-transition-all gp-duration-300  group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]" style="--hvr-bgc:#000000;--bgc:#000000;--op:50%;--hvr-op:50%;--top:0;--left:0"> </div>
      </div>
      
    

    

    
    <gp-row gp-data='{}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row tablet:!gp-relative mobile:!gp-relative  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--cg:auto;--cg-mobile:auto;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--pc:center;--pc-tablet:center;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g-uOMmx70I gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gKakhf6ORh"}' data-id="gKakhf6ORh" id="gKakhf6ORh" data-same-height-subgrid-container class="gKakhf6ORh gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mt:186px;--mb:186px;--pt:0px;--pb:0px;--mt-mobile:70px;--mb-mobile:70px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:750px;--w-tablet:570px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g3RoblRXFO gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNmQ5qHlof"
        class="gNmQ5qHlof"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:var(--g-s-xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753816312888"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class="gp-text-g-text-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggNmQ5qHlof_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gRfFf_R3g4"
        class="gRfFf_R3g4"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:var(--g-s-2xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753816312888"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-text-g-text-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggRfFf_R3g4_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Homepage-Sling_Pack_1024x.jpg?v=1652895982" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Homepage-Sling_Pack_1024x.jpg?v=1652895982" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Homepage-Sling_Pack_1024x.jpg?v=1652895982" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Homepage-Sling_Pack_1024x.jpg?v=1652895982" />
    
      
      <img
        title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Homepage-Sling_Pack.jpg?v=1652895982" data-src="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Homepage-Sling_Pack.jpg?v=1652895982"
        alt=""
        width="100%"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%;--z:-1"
        class="adaptive-hero-banner"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
        </section>
      
  


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-561542774948627541 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/erica-336/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=561542765016515440&sectionId=561542774948627541)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggNmQ5qHlof_text","label":"ggNmQ5qHlof_text","default":"About US"},{"type":"html","id":"ggRfFf_R3g4_text","label":"ggRfFf_R3g4_text","default":"<p><span style=\"color:rgb(255,255,255);font-size:30px;\">Experienced all over the world, yet born in Australia and raised in Southern California.</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
