<div class="main_heading_wrap">
                                    <h3 style="color:black">{{section.settings.heading}}</h3>
                                  
                              </div>

{% schema %}
{
  "name": "Heading Section",
 
  "settings": [

 
 {
      "type": "textarea",
      "id": "heading",
      "label": "Heading"
    }
 
    
  ],
  "presets": [
    {
      "name": "Heading Section"
    }
  ]
}
{% endschema %}