<div class="faq_wrap" data-aos="fade-up"
     data-aos-duration="3000">
  <div class="container">
    <div class="faq-nav">
      <ul>
        <li><a href="javascript:;" data-rel="tab-1" class="active">Shipping</a></li>
        <li><a href="javascript:;" data-rel="tab-2">Return</a></li>
        <li><a href="javascript:;" data-rel="tab-3">FAQs</a></li>
      </ul>
    </div>
    
    <div class="tab-content">
      <div class="tab-box" id="tab-1" style="display: block;">
        <ul class="accordion">
          <li>
            <a href="javascript:;">How much is shipping in USA? <span class="plus"></span></a>
            <div class="answer">
              <p>Free standard shipping to addresses in the USA. However, the following locations do not qualify for 
free shipping and are eligible only for flat rate shipping:</p>
<ul>
  <li>American Samoa ($35)</li>
  <li>Puerto Rico ($35)</li>
  <li>US Virgin Islands ($35)</li>
  <li>Guam ($35)</li>
              </ul>
            </div>
          </li>
          <li>
            <a href="javascript:;">International Shipping Rates?<span class="plus"></span></a>
            <div class="answer">
              <p>
            

<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link rel=File-List href="A_Shipping%20Prices.fld/filelist.xml">
<style id="A_Shipping Prices_29891_Styles">
<!--table
	{mso-displayed-decimal-separator:"\.";
	mso-displayed-thousand-separator:"\,";}
@page
	{margin:.75in .7in .75in .7in;
	mso-header-margin:.3in;
	mso-footer-margin:.3in;}
tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style19
	{mso-number-format:"_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
	mso-style-name:Currency;
	mso-style-id:4;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	text-align:left;
	vertical-align:middle;}
.xl66
	{mso-style-parent:style19;
	mso-number-format:"_\(\[$$-409\]* \#\,\#\#0\.00_\)\;_\(\[$$-409\]* \\\(\#\,\#\#0\.00\\\)\;_\(\[$$-409\]* \0022-\0022??_\)\;_\(\@_\)";
	text-align:left;
	vertical-align:middle;}
.xl67
	{mso-style-parent:style0;
	color:windowtext;
	font-size:13.0pt;
	font-family:Helvetica, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid windowtext;
	padding-left:6px;
	mso-char-indent-count:1;}
.xl68
	{mso-style-parent:style0;
	color:windowtext;
	font-size:13.0pt;
	font-weight:450;
	font-family:Helvetica, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid windowtext;
	padding-left:6px;
	mso-char-indent-count:1;}
.xl69
	{mso-style-parent:style0;
	color:windowtext;
	text-align:left;
	vertical-align:middle;}
.xl70
	{mso-style-parent:style19;
	color:windowtext;
	mso-number-format:"_\(\[$$-409\]* \#\,\#\#0\.00_\)\;_\(\[$$-409\]* \\\(\#\,\#\#0\.00\\\)\;_\(\[$$-409\]* \0022-\0022??_\)\;_\(\@_\)";
	text-align:left;
	vertical-align:middle;}
.xl71
	{mso-style-parent:style0;
	color:windowtext;
	font-size:13.0pt;
	font-family:"Helvetica Neue", sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;}
.xl72
	{mso-style-parent:style19;
	color:windowtext;
	font-size:13.0pt;
	font-family:Helvetica, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022$\0022\#\,\#\#0\.00";
	text-align:left;
	vertical-align:top;
	border:.5pt solid windowtext;
	padding-left:6px;
	mso-char-indent-count:1;}
.xl73
	{mso-style-parent:style0;
	font-size:16.0pt;
	font-weight:700;
	font-family:Helvetica, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl74
	{mso-style-parent:style0;
	color:windowtext;
	font-size:14.0pt;
	font-weight:700;
	font-family:Helvetica, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#D9D9D9;
	mso-pattern:black none;
	padding-left:6px;
	mso-char-indent-count:1;}
.xl75
	{mso-style-parent:style19;
	color:windowtext;
	font-size:14.0pt;
	font-weight:700;
	font-family:Helvetica, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#D9D9D9;
	mso-pattern:black none;
	padding-left:6px;
	mso-char-indent-count:1;}
-->
</style>
</head>

<body link=blue vlink=purple>
<!--[if !excel]>&nbsp;&nbsp;<![endif]-->
<!--The following information was generated by Microsoft Excel's Publish as Web
Page wizard.-->
<!--If the same item is republished from Excel, all information between the DIV
tags will be replaced.-->
<!----------------------------->
<!--START OF OUTPUT FROM EXCEL PUBLISH AS WEB PAGE WIZARD -->
<!----------------------------->

<div id="A_Shipping Prices_29891" align=center x:publishsource="Excel">

<table border=0 cellpadding=0 cellspacing=0 width=593 style='border-collapse:
 collapse;table-layout:fixed;width:445pt'>
 <col class=xl65 width=181 style='mso-width-source:userset;mso-width-alt:5802;
 width:136pt'>
 <col class=xl66 width=211 style='mso-width-source:userset;mso-width-alt:6741;
 width:158pt'>
 <col class=xl66 width=201 style='mso-width-source:userset;mso-width-alt:6442;
 width:151pt'>
 <tr height=56 style='mso-height-source:userset;height:42.0pt'>
  <td colspan=3 height=56 class=xl73 width=593 style='height:42.0pt;width:445pt'>INTERNATIONAL
  SHIPPING PRICES</td>
 </tr>
 <tr height=39 style='mso-height-source:userset;height:29.0pt'>
  <td height=39 class=xl74 style='height:29.0pt;border-top:none'>Country</td>
  <td class=xl75 style='border-top:none;border-left:none'>Orders Under $99</td>
  <td class=xl75 style='border-top:none;border-left:none'>Orders Over $99</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Afghanistan</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Åland Islands</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Albania</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Algeria</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Andorra</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Angola</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Anguilla</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Antigua &amp;
  Barbuda</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Argentina</td>
  <td class=xl72 style='border-top:none;border-left:none'>$30.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Armenia</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Aruba</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Australia</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$80.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Austria</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Azerbaijan</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Bahamas</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Bahrain</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Bangladesh</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$80.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Barbados</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Belarus</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Belgium</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Belize</td>
  <td class=xl72 style='border-top:none;border-left:none'>$30.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Bermuda</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Bolivia</td>
  <td class=xl72 style='border-top:none;border-left:none'>$30.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Bosnia &amp;
  Herzegovina</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Botswana</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Brazil</td>
  <td class=xl72 style='border-top:none;border-left:none'>$30.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>British Virgin
  Islands</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Bulgaria</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$80.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Burkina Faso</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Burundi</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Cameroon</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl68 style='height:17.0pt;border-top:none'>
  <meta charset=utf-8>
  <span style='font-variant-ligatures: normal;font-variant-caps: normal;
  orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
  text-decoration-thickness: initial;text-decoration-style: initial;text-decoration-color: initial'>Canada</span></td>
  <td class=xl72 style='border-top:none;border-left:none'>$20.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$30.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Cape Verde</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Caribbean
  Netherlands</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Cayman Islands</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Central
  African Republi<span style='display:none'>c</span></td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$80.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Chad</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Chile</td>
  <td class=xl72 style='border-top:none;border-left:none'>$30.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>China</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Christmas
  Island</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Cocos
  (Keeling) Island<span style='display:none'>s</span></td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Colombia</td>
  <td class=xl72 style='border-top:none;border-left:none'>$30.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Comoros</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Congo -
  Brazzaville</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Congo -
  Kinshasa</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Cook Islands</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Costa Rica</td>
  <td class=xl72 style='border-top:none;border-left:none'>$30.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Croatia</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Curaçao</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Cyprus</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Czechia</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$80.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Denmark</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Djibouti</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Dominica</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Dominican
  Republic</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Ecuador</td>
  <td class=xl72 style='border-top:none;border-left:none'>$30.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl68 style='height:17.0pt;border-top:none'>
  <meta charset=utf-8>
  <span style='font-variant-ligatures: normal;font-variant-caps: normal;
  orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
  text-decoration-thickness: initial;text-decoration-style: initial;text-decoration-color: initial'>Egypt</span></td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$80.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>El Salvador</td>
  <td class=xl72 style='border-top:none;border-left:none'>$30.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Equatorial
  Guinea</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Eritrea</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Estonia</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Eswatini</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Ethiopia</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Falkland
  Islands</td>
  <td class=xl72 style='border-top:none;border-left:none'>$30.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Faroe Islands</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Fiji</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Finland</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>France</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>French Guiana</td>
  <td class=xl72 style='border-top:none;border-left:none'>$30.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>French
  Polynesia</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>French
  Southern Territ<span style='display:none'>ories</span></td>
  <td class=xl72 style='border-top:none;border-left:none'>$15.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Gabon</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Gambia</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Georgia</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Germany&nbsp;</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$80.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Ghana</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Gibraltar</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Greece</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Greenland</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Grenada</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Guadeloupe</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Guatemala&nbsp;</td>
  <td class=xl72 style='border-top:none;border-left:none'>$30.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Guernsey</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Guinea</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Guinea-Bissau</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Guyana</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Haiti</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Honduras</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Hong Kong SAR</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Hungary</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$80.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Iceland</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>India</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Indonesia</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$80.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Iraq</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Ireland</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Isle of Man</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Israel</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Italy</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Jamaica</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Japan</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Jersey</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Jordan</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Kazakhstan</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Kenya</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Kosovo</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Kuwait</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$80.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Kyrgyzstan</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Latvia</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Lebanon</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Lesotho</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Liberia</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Libya</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Liechtenstein</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Lithuania</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Luxembourg</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Macao SAR</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Madagascar</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Malawi</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Malaysia</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$80.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl68 style='height:17.0pt;border-top:none'>
  <meta charset=utf-8>
  <span style='font-variant-ligatures: normal;font-variant-caps: normal;
  orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
  text-decoration-thickness: initial;text-decoration-style: initial;text-decoration-color: initial'>Maldives</span></td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Mali</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Malta</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Martinique</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Mauritania</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Mauritius</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Mayotte</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Mexico</td>
  <td class=xl72 style='border-top:none;border-left:none'>$20.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$30.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Moldova</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Monaco</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Mongolia</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Montenegro</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Montserrat</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Morocco&nbsp;</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Mozambique</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Myanmar</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Namibia</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Nepal</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Netherlands</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>New Caledonia</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>New Zealand</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$80.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Nicaragua</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Niger</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Nigeria</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Niue</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Norfolk Island</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>North
  Macedonia</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Norway</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Oman</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Pakistan</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Palestinian
  Territories</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Panama</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Papua New
  Guinea</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Paraguay</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Peru</td>
  <td class=xl72 style='border-top:none;border-left:none'>$30.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Philippines</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$80.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Pitcairn
  Islands</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Poland</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Portugal</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Qatar</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Réunion</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Romania</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Russia</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Samoa</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>San Marino</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Saudi Arabia</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Serbia</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Singapore</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Sint Maarten</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Slovakia</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Slovenia</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Solomon
  Islands</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>South Africa</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$80.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>South Georgia</td>
  <td class=xl72 style='border-top:none;border-left:none'>$15.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>South Korea</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>South Sandwich
  Island<span style='display:none'>s</span></td>
  <td class=xl72 style='border-top:none;border-left:none'>$15.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Spain</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Sri Lanka</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$80.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>St. Barthélemy</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>St. Kitts
  &amp; Nevis</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>St. Lucia</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>St. Martin</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>St. Pierre
  &amp; Miquelon</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>St. Vincent
  &amp; Grenadin<span style='display:none'>es</span></td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Suriname</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Svalbard &amp;
  Jan Mayen</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Sweden</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Switzerland</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Taiwan</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Tajikistan</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Thailand</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$80.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Timor-Leste</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Tokelau</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Tonga</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Trinidad &amp;
  Tobago</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Türkiye</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Turkmenistan</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Turks &amp;
  Caicos Islands</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Tuvalu</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>U.S. Outlying
  Islands</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Ukraine</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$100.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>United Arab
  Emirates</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$80.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>United Kingdom</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Uruguay</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>US Islands</td>
  <td class=xl72 style='border-top:none;border-left:none'>$15.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Uzbekistan</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Vanuatu</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Vatican City</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Venezuela</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Vietnam</td>
  <td class=xl72 style='border-top:none;border-left:none'>$40.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$80.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Wallis &amp;
  Futuna</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl67 style='height:17.0pt;border-top:none'>Yemen</td>
  <td class=xl72 style='border-top:none;border-left:none'>$25.00</td>
  <td class=xl72 style='border-top:none;border-left:none'>$50.00</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl69 style='height:15.0pt'></td>
  <td class=xl70></td>
  <td class=xl70></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl69 style='height:15.0pt'></td>
  <td class=xl70></td>
  <td class=xl70></td>
 </tr>
 <tr height=23 style='height:17.0pt'>
  <td height=23 class=xl71 style='height:17.0pt'></td>
  <td class=xl70></td>
  <td class=xl70></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl69 style='height:15.0pt'></td>
  <td class=xl70></td>
  <td class=xl70></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl69 style='height:15.0pt'></td>
  <td class=xl70></td>
  <td class=xl70></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl69 style='height:15.0pt'></td>
  <td class=xl70></td>
  <td class=xl70></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl69 style='height:15.0pt'></td>
  <td class=xl70></td>
  <td class=xl70></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl69 style='height:15.0pt'></td>
  <td class=xl70></td>
  <td class=xl70></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl69 style='height:15.0pt'></td>
  <td class=xl70></td>
  <td class=xl70></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl69 style='height:15.0pt'></td>
  <td class=xl70></td>
  <td class=xl70></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl69 style='height:15.0pt'></td>
  <td class=xl70></td>
  <td class=xl70></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl69 style='height:15.0pt'></td>
  <td class=xl70></td>
  <td class=xl70></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl69 style='height:15.0pt'></td>
  <td class=xl70></td>
  <td class=xl70></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl69 style='height:15.0pt'></td>
  <td class=xl70></td>
  <td class=xl70></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl69 style='height:15.0pt'></td>
  <td class=xl70></td>
  <td class=xl70></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl69 style='height:15.0pt'></td>
  <td class=xl70></td>
  <td class=xl70></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl69 style='height:15.0pt'></td>
  <td class=xl70></td>
  <td class=xl70></td>
 </tr>
 <![if supportMisalignedColumns]>
 <tr height=0 style='display:none'>
  <td width=181 style='width:136pt'></td>
  <td width=211 style='width:158pt'></td>
  <td width=201 style='width:151pt'></td>
 </tr>
 <![endif]>
</table>

</div>


<!----------------------------->
<!--END OF OUTPUT FROM EXCEL PUBLISH AS WEB PAGE WIZARD-->
<!----------------------------->
</body>

</html>


              ** We ship all international orders with DHL, and orders usually arrive within 3-7 business days.  Some remote locations can take longer, so please allow for 10-12 business days **<br></br>
              ** All International orders are shipped DDU (Delivered Duties Unpaid) – the buyer is responsible for all import duties, VAT and or Customs fees.**

            </div>
          </li>
          <li>
            <a href="javascript:;">How long will it take to deliver after being shipped ? <span class="plus"></span></a>
            <div class="answer">
              <p>Depending on the state you live in the goods usually take between 3-5 business days.
*The delivery times provided by us are estimates only. We will not be held accountable for late deliveries or loss or damage relating to late deliveries. In the event that multiple items are ordered, part deliveries may be made where stock is not available. All reasonable attempts to notify you will be made using the details you provided. Please ensure you enter the correct delivery address. We cannot be held responsible for incorrectly entered delivery addresses.</p>

            </div>
          </li>
          <li>
            <a href="javascript:;">Can I cancel my order? <span class="plus"></span></a>
            <div class="answer">
              <p>Please contact us immediatley after your order has been placed and we will try our best accommodate your request. If the item has already been shipped then you will need to process a return. (see returns page)</p>

            </div>
          </li>
          <li>
            <a href="javascript:;">Can I change remove/add/change items in an existing order ? <span class="plus"></span></a>
            <div class="answer">
              <p>If your order has not been shipped and you would like to add an additional item please contact us right away and we will do our best to help accommodate your request.</p>
              <ul>
                <li><b></b></li>
              </ul>

            </div>
          </li>
          <li>
            <a href="javascript:;">Can I track my order ? <span class="plus"></span></a>
            <div class="answer">
              <p>You can track your order by clicking the link found in the shipping confirmation email. Please allow 2-3 business days to receive your shipment notification email after placing your order.</p>

            </div>
          </li>
          <li>
            <a href="javascript:;">Do I need to sign for my order ? <span class="plus"></span></a>
            <div class="answer">
              <p>The courier will generally leave your order at the front door or letterbox. If your parcel is lost or misplaced, we will happily replace the order pending an investigation. If your parcel is stolen, we cannot be held accountable. Please use our contact form if your order has not has not been received within the recommended timeframe. If you will not be present to accept your delivery or you feel that your address is unsafe, we recommend shipping your order to an alternate address, such as your work place.</p>

            </div>
          </li>
        </ul>
      </div>
      <div class="tab-box" id="tab-2">
        <ul class="accordion">
          <li>
            <a href="javascript:;">How do I return an item ? <span class="plus"></span></a>
            <div class="answer">
            <h2 style="-webkit-text-stroke-width:0px;color:rgb(0, 0, 0);font-family:&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;font-style:normal;font-variant-caps:normal;font-variant-ligatures:normal;letter-spacing:normal;line-height:1.4;margin:0px 0px 1em;orphans:2;text-align:start;text-decoration-color:initial;text-decoration-style:initial;text-decoration-thickness:initial;text-indent:0px;text-transform:none;white-space:normal;widows:2;word-spacing:0px;" data-sanitized-data-mce-fragment="1" data-mce-fragment="1">Returns &amp; Exchanges</h2>
<p style="-webkit-text-stroke-width:0px;color:rgb(0, 0, 0);font-family:&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;font-size:15px;font-style:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-weight:400;letter-spacing:normal;line-height:1.4;margin:0px 0px 1em;orphans:2;text-align:start;text-decoration-color:initial;text-decoration-style:initial;text-decoration-thickness:initial;text-indent:0px;text-transform:none;white-space:normal;widows:2;word-spacing:0px;"><span style="font-size:18px;">We strive for top quality, but we understand that occasionally things may not be perfect. If you receive a faulty product or an incorrect order, return it within 30 days for a full refund, including shipping costs*.</span></p>
<p style="-webkit-text-stroke-width:0px;color:rgb(0, 0, 0);font-family:&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;font-size:15px;font-style:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-weight:400;letter-spacing:normal;line-height:1.4;margin:0px 0px 1em;orphans:2;text-align:start;text-decoration-color:initial;text-decoration-style:initial;text-decoration-thickness:initial;text-indent:0px;text-transform:none;white-space:normal;widows:2;word-spacing:0px;"><span style="font-size:18px;">Changed your mind or need to return a gift? No problem! We offer easy returns and exchanges within 30 days of receiving your order.&nbsp;<span data-sanitized-data-mce-fragment="1" data-mce-fragment="1"> We offer easy returns, minus a $10 handling fee and Return Shipping Costs. Should you want to exchange your product, we will take care of the shipping and handling for you. Returns will be refunded in the original payment method or store credit.</span>&nbsp;All items must be returned in their original condition with tags and packaging intact.</span></p>
<p style="-webkit-text-stroke-width:0px;color:rgb(0, 0, 0);font-family:&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;font-size:15px;font-style:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-weight:400;letter-spacing:normal;line-height:1.4;margin:0px 0px 1em;orphans:2;text-align:start;text-decoration-color:initial;text-decoration-style:initial;text-decoration-thickness:initial;text-indent:0px;text-transform:none;white-space:normal;widows:2;word-spacing:0px;"><span style="font-size:18px;">Remember to package returns carefully to prevent damage during transit.</span></p>
<p style="-webkit-text-stroke-width:0px;color:rgb(0, 0, 0);font-family:&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;font-size:15px;font-style:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-weight:400;letter-spacing:normal;line-height:1.4;margin:0px 0px 1em;orphans:2;text-align:start;text-decoration-color:initial;text-decoration-style:initial;text-decoration-thickness:initial;text-indent:0px;text-transform:none;white-space:normal;widows:2;word-spacing:0px;"><span style="font-size:18px;">To start your return please email us at:&nbsp;</span><a href="mailto:support@symplofficial.com" data-sanitized-data-mce-fragment="1" data-mce-fragment="1" data-sanitized-data-mce-href="mailto:support@symplofficial.com" data-mce-href="mailto:support@symplofficial.com"><span style="font-size:18px;">support@symplofficial.com</span></a></p>
<p style="-webkit-text-stroke-width:0px;color:rgb(0, 0, 0);font-family:&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;font-size:15px;font-style:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-weight:400;letter-spacing:normal;line-height:1.4;margin:0px 0px 1em;orphans:2;text-align:start;text-decoration-color:initial;text-decoration-style:initial;text-decoration-thickness:initial;text-indent:0px;text-transform:none;white-space:normal;widows:2;word-spacing:0px;"><span style="font-size:18px;"><strong><u>Include in the email the following:</u></strong></span></p>
<p style="-webkit-text-stroke-width:0px;color:rgb(0, 0, 0);font-family:&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;font-size:15px;font-style:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-weight:400;letter-spacing:normal;line-height:1.4;margin:0px 0px 1em;orphans:2;text-align:start;text-decoration-color:initial;text-decoration-style:initial;text-decoration-thickness:initial;text-indent:0px;text-transform:none;white-space:normal;widows:2;word-spacing:0px;"><span style="font-size:18px;">• Order Number</span></p>
<p style="-webkit-text-stroke-width:0px;color:rgb(0, 0, 0);font-family:&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;font-size:15px;font-style:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-weight:400;letter-spacing:normal;line-height:1.4;margin:0px 0px 1em;orphans:2;text-align:start;text-decoration-color:initial;text-decoration-style:initial;text-decoration-thickness:initial;text-indent:0px;text-transform:none;white-space:normal;widows:2;word-spacing:0px;"><span style="font-size:18px;">•&nbsp;Brief description why you are returning your order.</span></p>
<p style="-webkit-text-stroke-width:0px;color:rgb(0, 0, 0);font-family:&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;font-size:15px;font-style:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-weight:400;letter-spacing:normal;line-height:1.4;margin:0px 0px 1em;orphans:2;text-align:start;text-decoration-color:initial;text-decoration-style:initial;text-decoration-thickness:initial;text-indent:0px;text-transform:none;white-space:normal;widows:2;word-spacing:0px;"><span style="font-size:18px;">*If eligible, we’ll provide a prepaid return&nbsp;label via email within 1-2 business days.</span></p>
            </div>
          </li>
          <li>
            <a href="javascript:;">Can I return & exchange item ? <span class="plus"></span></a>
            <div class="answer">
              <p>No, all sale items are final sale and are not eligible for a price adjustment, return, or exchange.</p>

            </div>
          </li>
          
        </ul>
        
      </div>
      <div class="tab-box" id="tab-3">
        <ul class="accordion">
          <li>
            <a href="javascript:;">We are a retail store and want to sell Sympl supply Co ? <span class="plus"></span></a>
            <div class="answer">
              <p>Please provide us with the name and location of your store, pictures of your shop and other brands you carry on wholesale registration form listed below.  Once you are approved you will have access to the wholesale website with wholesale prices, and can make all orders and payments online.</p>
<ul>
  <li><a href="#">WHOLESALE REGISTRATION FORM</a>  •</li>
              </ul>


            </div>
          </li>
          <li>
            <a href="javascript:;">Online store ? <span class="plus"></span></a>
            <div class="answer">
              <p>If you are an online business, please specify the full URL of your website in the “Company/ Business” space on the registration form.
Please provide us with the name and location of your store, pictures of your shop and other brands you carry on wholesale registration form listed below.  Once you are approved you will have access to the wholesale website with wholesale prices, and can make all orders and payments online.
</p>
<ul>
  <li><a href="#">WHOLESALE REGISTRATION FORM</a>  •</li>
              </ul>


            </div>
          </li>
          <li>
            <a href="javascript:;">Have a wholesale account <span class="plus"></span></a>
            <div class="answer">
              <p>Log into your wholesale account to access wholesale prices, make online orders 
                and purchase goods.  <a href='#'>LOG IN HERE</a></p>

            </div>
          </li>
          
        </ul>
        
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
