{% layout none %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
<meta property="fb:app_id" content="424426844274364"/>

<meta name="twitter:card" content="summary_large_image" />
{%- comment %}<locksmith:03fa>{% endcomment -%}
  {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="twitter:title" content="Enter Your Email for a chance to win the most amazing giveaway bundle." />{% endif -%}
  {%- comment %}original: <meta name="twitter:title" content="Enter Your Email for a chance to win the most amazing giveaway bundle." />{%- endcomment %}
{%- comment %}</locksmith:03fa>{% endcomment -%}
{%- comment %}<locksmith:4dfa>{% endcomment -%}
  {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="twitter:description" content="By inputing your email &amp; phone number you agree to receive occasional marketing messages from sympl and any affiliated sponsors of the giveaway (eg: weekly updates and sales etc) but don't worry we won't spam you. Read full terms and conditions here" />{% endif -%}
  {%- comment %}original: <meta name="twitter:description" content="By inputing your email &amp; phone number you agree to receive occasional marketing messages from sympl and any affiliated sponsors of the giveaway (eg: weekly updates and sales etc) but don't worry we won't spam you. Read full terms and conditions here" />{%- endcomment %}
{%- comment %}</locksmith:4dfa>{% endcomment -%}
{%- comment %}<locksmith:06fd>{% endcomment -%}
  {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="twitter:image" content="https://res.cloudinary.com/viralsweep/image/upload/v1698263110/vt3iygn3edsfnw2qrtuc.jpg" />{% endif -%}
  {%- comment %}original: <meta name="twitter:image" content="https://res.cloudinary.com/viralsweep/image/upload/v1698263110/vt3iygn3edsfnw2qrtuc.jpg" />{%- endcomment %}
{%- comment %}</locksmith:06fd>{% endcomment -%}
        
<meta property="og:url" content="symplofficial.com"/>
{%- comment %}<locksmith:4172>{% endcomment -%}
  {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:type" content="article"/>{% endif -%}
  {%- comment %}original: <meta property="og:type" content="article"/>{%- endcomment %}
{%- comment %}</locksmith:4172>{% endcomment -%}
{%- comment %}<locksmith:cf45>{% endcomment -%}
  {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:title" content="Enter Your Email for a chance to win the most amazing giveaway bundle."/>{% endif -%}
  {%- comment %}original: <meta property="og:title" content="Enter Your Email for a chance to win the most amazing giveaway bundle."/>{%- endcomment %}
{%- comment %}</locksmith:cf45>{% endcomment -%}
{%- comment %}<locksmith:db43>{% endcomment -%}
  {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image" content="https://res.cloudinary.com/viralsweep/image/upload/v1698263110/vt3iygn3edsfnw2qrtuc.jpg"/>{% endif -%}
  {%- comment %}original: <meta property="og:image" content="https://res.cloudinary.com/viralsweep/image/upload/v1698263110/vt3iygn3edsfnw2qrtuc.jpg"/>{%- endcomment %}
{%- comment %}</locksmith:db43>{% endcomment -%}
<meta property="og:site_name" content="Enter Your Email for a chance to win the most amazing giveaway bundle."/>
<meta property="fb:admins" content="1088490351"/>
<meta property="fb:admins" content="11512735"/>
<meta property="fb:admins" content="1088490312"/>
{%- comment %}<locksmith:11b7>{% endcomment -%}
  {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:description" content="By inputing your email &amp; phone number you agree to receive occasional marketing messages from sympl and any affiliated sponsors of the giveaway (eg: weekly updates and sales etc) but don't worry we won't spam you. Read full terms and conditions here"/>{% endif -%}
  {%- comment %}original: <meta property="og:description" content="By inputing your email &amp; phone number you agree to receive occasional marketing messages from sympl and any affiliated sponsors of the giveaway (eg: weekly updates and sales etc) but don't worry we won't spam you. Read full terms and conditions here"/>{%- endcomment %}
{%- comment %}</locksmith:11b7>{% endcomment -%}
<title>Enter Your Email for a chance to win the most amazing giveaway bundle.</title>
<style type="text/css">
body { border: 0; margin: 0; padding: 0; }
</style>

<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" />
<meta name="apple-mobile-web-app-capable" content="yes" />

</head>
<body style="margin:0px;padding:0px;">
<div id="vsscript_146279_566308"></div>
<script async type="text/javascript" src="https://app.viralsweep.com/vsa-full-ff36c5-146279.js?sid=146279_566308"></script>
</body>
</html>